/Cafetria-Module/Cafetria-Model/target/
/Cafetria-Module/Cafetria-Service/target/
/Cafetria-Module/Cafetria-RemoteService/target/
/Cafetria-Module/Cafetria-View/target/
/Cafetria-Module/Cafetria-DTO/target/

